html, body {
    height: 100%;
    font-size: 1rem;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;

}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 1200px;
    width: 100%;
}


h2 {
    margin-top: 40px;
}


/* code */
pre {
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #F8F5F5;
    border: 1px solid #ccc;
    border-radius: 0px;
}

.hljs {
    padding: 1rem;
    line-height: 1.8rem;
}

/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

.intro {
    transform: translateY(22vh);
}

.intro > h1 {
    color: #212121;
    font-size: 12vh;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

.intro > .profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}




/*list item for post and projects*/

.list__title {
    background-color: #F8F5F5;
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #eAeAeA;
}

.item {
    padding: 10px 0;
    text-align: left;
}
.item__header {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .item__header {
        display: block;
    }
}



.item__header h4{ }
.item__header h5{ }
.item__tags {
    display: flex;
    flex-flow: wrap;
    opacity: 0.2;
}

.item__tags kbd {
    border-radius: 0;
    padding: 4px 10px;
    white-space: nowrap;
    box-shadow:none;
}

.item__tags a {
    margin-left: 1px;
    margin-bottom: 3px;
}

.item-tag {
    /* background-color: var(--accent);*/
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    max-width: 100%;
}
